@model Categoria

@{
    ViewData["Title"] = "Editar Categoría";
}

<h1>Editar Categoría: @Model.nombre</h1>
<h5>
    La categoría nos permite clasificar nuestros ingresos e ingresos de dinero.
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="id"/>

<form asp-action="Editar">
    <br />
    <div class="mb-3">
        <label asp-for="nombre" class="form-label"></label>
        <input type="text" asp-for="nombre" class="form-control"/>
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="tipoOperacionId" class="form-label"></label>
        <select asp-for="tipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select"></select>
        <span asp-validation-for="tipoOperacionId" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}