@model TipoCuenta

@{
    ViewData["Title"] = "Crear tipo cuenta";
}

<h1>Crear tipo de cuenta</h1>
<h5>
    El tipo de cuenta se refiere a como podemos agrupar cuentas. 
    Ejemplos: prestamos, tarjetas de crédito, etc.
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Insertar">
    <br />
    <div class="mb-3">
        <label asp-for="nombre" class="form-label"></label>
        <input type="text" asp-for="nombre" class="form-control"/>
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Crear</button>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}