@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende mas acerca de como <a href="https://github.com/maxisandoval37/gestor-presupuestos">
     se encuentra constituida esta aplicación</a>.</p>
    
    <style>
    body {
      background-image: url('/img/banner.jpg');
    }
    </style>

    <br/><br/>
    <a class="btn btn-primary" href="TipoCuenta">Ingresar</a>

</div>
