@{
    ViewData["Title"] = "Reporte calendario de transacciones";
}

<h1>Reporte calendario de transacciones</h1>
<h5>
    Las transacciones permiten registrar los movientos de ingresos y egresos. 
    Tiene asociada una cuenta y categoría del tipo de registro.
</h5>

<br />

<partial name="_Submenu" model="SubmenuTransacciones.Calendario"/>
<br />