@using gestorPresupuestos.Models.Submenus
@{
    ViewData["Title"] = "Reporte calendario de transacciones";
}

@section Scripts {
    <script src="~/lib/fullcalendar/index.global.js"></script>
    <script src="~/lib/fullcalendar/index.global.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: 5,
                initialView: 'dayGridMonth',
                businessHours: true,
                events: '/transaccion/ObtenerTransaccionesCalendario'
            });
            calendar.render();
        });
    </script>
}

<h1>Reporte calendario de transacciones</h1>
<h5>
    Las transacciones permiten registrar los movientos de ingresos y egresos. 
    Tiene asociada una cuenta y categoría del tipo de registro.
</h5>

<br />

<partial name="_Submenu" model="SubmenuTransacciones.Calendario"/>
<br />

<div id="calendar"></div>