@using gestorPresupuestos.Models.Submenus
@{
    ViewData["Title"] = "Reporte calendario de transacciones";
}

@section Scripts {
    <script src="~/lib/fullcalendar/index.global.js"></script>
    <script src="~/lib/fullcalendar/index.global.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth',
                businessHours: true,
                events: [
                {
                    title: 'Evento 1',
                    start: '2023-01-10T13:00:00',
                    end: '2023-01-10T13:00:00',
                    color: 'green'
                },
                {
                    title: 'Evento 2',
                    start: '2023-01-10T13:00:00',
                    end: '2023-01-10T13:00:00',
                    color: 'red'
                },
                {
                    title: 'Evento 3',
                    start: '2023-01-10',
                    end: '2023-01-10',
                    color: 'red'
                }]
            });
            calendar.render();
        });
    </script>
}

<h1>Reporte calendario de transacciones</h1>
<h5>
    Las transacciones permiten registrar los movientos de ingresos y egresos. 
    Tiene asociada una cuenta y categoría del tipo de registro.
</h5>

<br />

<partial name="_Submenu" model="SubmenuTransacciones.Calendario"/>
<br />

<div id="calendar"></div>