@model gestorPresupuestos.Models.Reportes.ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte diario de transacciones";
}

<h1>Reporte diario de transacciones</h1>
<h5>
    Las transacciones permiten registrar los movientos de ingresos y egresos. 
    Tiene asociada una cuenta y categoría del tipo de registro.
</h5>

<br />

<partial name="_ReporteTransaccionDetalle" model="Model"/>