.container-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.ingresos {
    color:green;
}

.egresos {
    color: red;
}

.acordeon-cuentas button{
    color: black !important;
    font-size: 18px;
}

.nombre-cuenta-span {
    color: grey !important;
}

.acordeon-cuentas button > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.acordeon-cuentas ul li {
    display: flex;
    justify-content: space-between;
    width: 97%;
    border: none;
}

.acordeon-cuentas .accordion-collapse {
    font-size: 18px;
}